/* Font - family*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alex+Brush&family=Josefin+Sans:wght@500&display=swap');



.fontBrand{
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(255, 94, 0);

}

.fontMain1{
  font-style: italic; font-family: 'Alex Brush', cursive; font-size: 80px;
  color: white;
}

.fontMain2{
  font-family: 'Acme', sans-serif;
  font-stretch: expanded;
  font-weight: bold;
  color: rgb(255, 94, 0);
}

/* Nav bar font */
.fontNav{
  font-family: 'Josefin Sans', sans-serif;
  font-size: larger;
  color: rgb(255, 101, 18);
}

/* Toggler */
.fontToggle{
  background-color: rgb(95, 76, 66, 0.4);
}

/* About Font */
.fontAbout{
  font-family: 'Josefin Sans', sans-serif;

}

/* Menu Font */
.fontMenu{
  font-family: 'Josefin Sans', sans-serif;

}

/* Contact Font */
.fontContact{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 36px;
}
.fontContactSub{
  font-family: 'Josefin Sans', sans-serif;
  color:white;
  font-size: larger;
  margin-top: 20%;
}
.fontContactSub .sub{
  color:rgb(249, 244, 228);
  font-size: large;
}



/* Header Page */
header.headerPage {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(47, 39, 34, 0.7) 0%, rgba(27, 23, 20, 0.8) 100%), url("../img/nanta/Home1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  @media (min-width: 992px) {
    header.headerPage {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
      
    }
  }
/* About Page */

.aboutPage {
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-color: rgb(95, 76, 66);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


@media (min-width: 992px) {
    .aboutPage {
      height: 70vh;
      min-height: 20rem;
      padding-top: 10rem;
      padding-bottom: 30rem;
    }
  }

  .iconColor{
    color: rgb(255, 94, 0);
  }




/* Menu Page */

.menuPage {
  padding-top: 5rem;
  padding-bottom: calc(10rem - 4.5rem);
  background-color: rgb(95, 76, 66);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

@media (min-width: 992px) {
  .menuPage {
    height: 70vh;
    min-height: 20rem;
    padding-top: 10rem;
    padding-left: 5%;
    padding-bottom: 30rem;
    padding-right: 5%;
  }
}

.email{
  width: fit-content;
}

/* Menu */

.content_img{
  position: relative;
  float: left;

}

.content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(255, 101, 18);
  color: white;
  font-size:large;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
  cursor: pointer;
}


.content_img:hover div{
  width: 100%;
  height: 100%;
  padding:30%;
  visibility: visible;
  opacity: 0.8; 
}





/* Contact Page */
  .contactPage {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../img/nanta/cccc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  @media (min-width: 992px) {
    .contactPage {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
  }


  .fontFooter{
    font-family: 'Josefin Sans', sans-serif;
  
  }
